@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


body {

    margin: 0;
    background-color: #f5f5f5;
}

title {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    background-color: #a72671;
    color: #fff;
    padding: 15px 0;
    text-align: center;
    font-size: 24px;
    font-weight: bold;

}
.label {
    margin: 0;
    padding: 0;
}
.label {
    color: #242121;
    margin-left: 0;  
}
.label {
    color: #1d1b1b; 
    margin: 0; 
    padding: 0;
}


.login-container {
    background-color: #fff;
    width: 350px;
    margin: 80px auto;
    padding: 35px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    text-align: center;
}

.login-container input {
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    width: 95%;
    padding: 12px;
    background-color: #ca1205;
    color: white;
    border: none;
    margin-top: 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.erro-msg {
    color: red;
    margin-top: 10px;
    display: none;
}


footer {
    background-color: #6e0732;
    color: #eee;
    text-align: center;
    padding: 12px;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 14px;
}
